{% extends "theme_lotus/layout.html" %}
{% load staticfiles %}
{% load inclusion_tags %}
{% load simple_tags %}
{% load el_pagination_tags %}
{% block content %}
    <div id="page" class="hfeed site no-touch">

        {% head_menu request %}
        <div id="content" class="site-content container">
            <section id="primary" class="content-area col-sm-12 col-md-8 pull-left">
                <main id="main" class="site-main" role="main">


                    <header class="page-header">
                        <h1 class="page-title">
                            Mật ong </h1>
                    </header><!-- .page-header -->
                    {% paginate object_list %}
                    {% for post in object_list %}
                    <article id="post-1453"
                             class="post-1453 post type-post status-publish format-standard has-post-thumbnail hentry category-mat-ong tag-mat-ong tag-mat-ong-hoa-tram-u-minh tag-mat-ong-nguyen-chat">
                        <header class="entry-header page-header">
                            <h2 class="entry-title"><a href="{{ post.get_absolute_url }}" rel="bookmark">{{ post.title }}</a></h2>
                            <div class="entry-meta">
                                <span class="cat-links">
                                    <i class="fa fa-folder-open-o"></i>
                                    <a href="mat-ong.html" rel="category tag">Mật ong daklak</a>
                                </span>
                                <span class="posted-on">
                                    <i class="fa fa-calendar"></i>
                                    <a href="#" rel="bookmark">
                                        <time class="entry-date published">{{ post.timestamp|date:"d/m/Y" }}</time>
                                    </a>
                                </span>
                            </div>
                        </header><!-- .entry-header -->

                        <div class="entry-content">

                            <a href="{{ post.get_absolute_url }}" title="{{ post.title }}">
                                <img width="650" height="410" alt="{{ post.title }}" src="{{ post.image_thumb1.url }}" class="thumbnail col-sm-6 wp-post-image" alt=""/> </a>
                            <div class="col-sm-6">
                               {{ post.short_content }}
                            </div>
                            <p>
                                <a class="btn btn-default read-more" href="{{ post.get_absolute_url }}">
                                    Xem thêm
                                    <i class="fa fa-chevron-right"></i></a>
                            </p>
                        </div>

                        <hr class="section-divider">
                    </article><!-- #post-## -->
                    {% endfor %}
                 {% get_pages %}
                {%  if pages|length > 1 %}
                            <div class="pagination-container" style="text-align: center">
                                    <ul class="list-inline list-unstyled">
                                        <li class="prev"><a href="{{ pages.previous.path }}"><i
                                                class="fa fa-angle-left"></i></a></li>
                                        {% for page in pages %}
                                            <li {% if page.is_current %}class="active" {% endif %}><a
                                                    href="{{ page.path }}">{{ page.number }}</a></li>
                                        {% endfor %}
                                        <li class="next"><a href="{{ pages.next.path }}"><i
                                                class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                </div>
                {% endif %}


                </main><!-- #main -->
            </section><!-- #primary -->

        </div>

    </div>



{% endblock content %}