.DS_Store
.idea/
apps/.DS_Store
apps/__pycache__/
config/.DS_Store
config/__pycache__/
apps/accounts/__pycache__/
apps/pages/__pycache__/
apps/posts/migrations/

apps/pages/templatetags/__pycache__/



apps/pages/__pycache__/__init__.cpython-34.pyc
apps/pages/__pycache__/admin.cpython-34.pyc
apps/pages/__pycache__/forms.cpython-34.pyc
apps/pages/__pycache__/models.cpython-34.pyc
apps/pages/__pycache__/views.cpython-34.pyc
apps/posts/__pycache__/

apps/pages/migrations/
