{% load staticfiles %}

<div id="secondary" class="widget-area col-sm-12 col-md-4" role="complementary">

    <div class="widget tabbed">
        <div class="tabs-wrapper">
            <ul class="nav nav-tabs">
                <li class="active" style="width: 100.7%;text-align: center;text-decoration: underline;"><a
                        href="#popular-posts" data-toggle="tab">Bài viết mới nhất</a></li>
            </ul>

            <div class="tab-content">
                <ul id="popular-posts" class="tab-pane active">

                    {% for post in posts %}
                        <li>
                            <a href="{{ post.get_absolute_url }}" class="tab-thumb thumbnail" rel="bookmark"
                               title="{{ post.title }}">
                                <img width="60" height="60"
                                     src="{{ post.image_thumb2.url }}"
                                     class="attachment-tab-small size-tab-small wp-post-image" alt="{{ post.title }}"/>
                            </a>
                            <div class="content">
                                <a class="tab-entry" href="{{ post.get_absolute_url }}" rel="bookmark"
                                   title="Sữa ong chúa tươi">{{ post.title }}</a>
                                <i>
                                    {{ post.timestamp|date:"d/m/Y" }} </i>
                            </div>
                        </li>
                    {% endfor %}


                </ul>


            </div>
        </div>
    </div>


</div><!-- #secondary -->